
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif
}

nav {
  position: fixed;
  top: 10px;
  width: 90%;
  margin: 0 5%;
  padding: 12px 0;
  text-align: center;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: top 0.3s ease-in-out;
}
nav a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s;
  
}
nav a:hover {
  color:#191970;
}


html {
  scroll-behavior: smooth;
}

body {
   background: linear-gradient(to bottom right, #7851A9  , #301934 );
   color: white;
   line-height: 1.6;
   padding: 20px;
  }
  #inicio {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .inicio-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 280px;
   }

   .texto-inicio {
    text-align: left;
   }
   
   .texto-inicio h1{
    font-size: 2rem;
   }

   .texto-inicio h1 span{
    color: #191970;
    font-size: 3rem;
   }
  
  
  
  #foto-inicio {
    width: 400px; 
    height: 400px; 
    object-fit: contain;
    animation: float 3s ease-in-out infinite;
   }
   @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Move para cima */
    }
    100% {
      transform: translateY(0);
    }
  }
   

/* SOBRE */
#sobre-mim{
height: 100vh;
margin: 0;
padding: 0;
text-align: center;


}
#sobre h2{
  color: white;
  text-align: center;
  align-items: center;
}
/* PROJETOS e HABILIDADES */
#projetos, #habilidades {
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}
  
  
#projetos h2, #habilidades h2 {
  color: white;
  margin-bottom: 10px;
  text-align: center;
}
/* LISTA DE HABILIDADES */
#habilidades ul {
  list-style: square;
  padding-left: 20px;
  text-align: center;
}
/* FOOTER*/
footer{
  text-align: center;
  font-size: 0.9rem;
  color: white;
}
footer a {
  color: black;
  text-decoration:none ;
  margin:0 8px;
}





@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  header h1 {
    font-size: 1.8rem;
  }

  header p {
    font-size: 1rem;
  }

  #sobre, #projetos, #habilidades {
    padding: 15px;
  }

  nav a {
    display: inline-block;
    margin: 8px;
    font-size: 0.9rem;
  }
}